.user-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info p {
    margin: 0;
    font-size: 14px;
}

.user-info a {
    color: #1890ff; /* Ant Design primary color */
    text-decoration: none;
}